# PostgreSQL
POSTGRES_DB=joomladb
POSTGRES_USER=joomla
POSTGRES_PASSWORD=Comm2026_Postgres

# Rol de solo lectura que usa Grafana
GRAFANA_DB_USER=grafana_ro
GRAFANA_DB_PASSWORD=Comm2026_GrafanaRO

# Joomla (CMS)
JOOMLA_DB_TYPE=pgsql
JOOMLA_DB_PREFIX=joom_
JOOMLA_SITE_NAME=Portal Institucional UMNG - Comunicaciones
JOOMLA_ADMIN_USER=Administrador UMNG
JOOMLA_ADMIN_USERNAME=administrador
JOOMLA_ADMIN_PASSWORD=Comm2026_Joomla_Admin
JOOMLA_ADMIN_EMAIL=admin@umng.local

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=Comm2026_Grafana
PUBLIC_HOST=localhost

# Plataforma
HTTP_PORT=80
TZ=America/Bogota